/*
 * SPDX-License-Identifier: MIT
 * SPDX-FileCopyrightText: 2021 Philip Chimento
 */

.large-icon {
  color: #888a85;
  -gtk-icon-shadow: #d3d7cf 1px 1px;
  padding-right: 8px;
}

.note {
  background: #fce94f;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin: 20px;
  padding: 6px;
}

.note-title {
  font-size: large;
  font-weight: bold;
}

.note-editor,
.note-editor text {
  background: #fff;
  background: rgba(255, 255, 255, 0);
  padding: 0 2px;
}
